
h1 Welcome to Sportsball!
p Predicting the outcome of matches since 2015.

= link_to "Manage Teams", teams_path
| &nbsp;|&nbsp;
= link_to "Manage Games", games_path
| &nbsp;|&nbsp;
= link_to "Predict an outcome!", new_prediction_path

